* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body  {
  height: 150vh;
  background: #5ba1d6dc;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("hassane\ 2.png" )  no-repeat  center;
  background-size: contain;
  
  padding: 20px;
}
.content {


  background-color: rgba(230, 230, 230, 0.443);
  padding: 30px;
  border-radius: 15px;
  color: white;
  text-align: left;
  height: 50%;
  width: 40%;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  text-decoration: none;
  padding: 10px 20px;
  background-color: white;
  color: #0077b6;
  border-radius: 5px;
  font-weight: bold;
 
}

.btn:hover {
  background-color: #caf0f8;
}
a { text-decoration: none;
  padding: 10px 20px;
  background-color: white;
  color: #0077b6;
  border-radius: 5px;
  font-weight: bold;
 
}
a:hover {
  background-color: #63afe1;
}