* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body, html {
    height: 100%;
  }
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("HASSANE\ LBN.png") no-repeat right center;
    background-size: contain;
    background-color: #00b4d8;
    padding: 20px;
  }
  .content {

    
    background-color: rgba(255, 255, 255, 0.333);
    padding: 40px;
    border-radius: 25px;
    color: white;
    text-align: center;
    height: 80%;
    width: 60%;
    
  }
  
  h1 {
    font-size: 5.5rem;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 2.2rem;
    margin-bottom: 20px;
  }
  
  .btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    color: #0077b6;
    border-radius: 5px;
    font-weight: bold;
   
  }
  
  a { text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    color: #0077b6;
    border-radius: 5px;
    font-weight: bold;
   right: 60px;
  }
  
  a:hover {
    background-color: #63afe1;
  }